
<style>
       
      table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<table>
  <tr>
    <th>Decision</th>
    <th>Reason</th>
    <th>Confidence</th>
    <th>Outcome</th>
    <th>Lesson</th>
    <th>CreatedAt</th>

  </tr>
  {%for decision in decision%}     <!-- this is jinja not html --->
  <tr>
  
    <td>{{decision.title}}</td>
    <td>{{decision.reason}}</td>
    <td>{{decision.Confidence_level}}</td>
     <td>{{decision.Outcome}}</td>
     <td>{{decision.Lesson}}</td>
     <td>{{decision.CreatedAt}}</td>
  

  </tr>
  {%endfor%}
</table>